<div class="container">

  <h3 class="d-flex justify-content-center">Angular, Web API TIPO CAMBIO </h3>
  <h5 class="d-flex justify-content-center">Demo BCP RETO</h5>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item">
        <button routerLink="moneda"
        class="m-1 btn btn-light btn-outline-primary" Button>Moneda</button>
    </li>
    
    <li class="nav-item">
        <button routerLink="tcambio"
        class="m-1 btn btn-light btn-outline-primary" Button>TipoCambio</button>
    </li> 
  
  </ul>
  </nav>

<router-outlet></router-outlet>

</div>