<div class="form-froup row">

    <label class="col-sm-2 col-form-label">TC</label>


    <label class="col-sm-2 col-form-label">Moneda</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="moneda"
        placeholder="Ingrese la moneda">
    </div>


    <label class="col-sm-2 col-form-label">TC</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="tipoCambioUSD"
        placeholder="Ingrese el tipo de cambio en USD">
    </div>
</div>

<button (click)="addDepartment()" *ngIf="dep.moneda==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateDepartment()" *ngIf="dep.moneda!=0" class="btn btn-primary">
    Update
</button>

