<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EntidadId"
        placeholder="Ingrese el id del usuario">
    </div>

    <label class="col-sm-2 col-form-label">Entidad</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EntidadName"
        placeholder="Ingrese el nombre de usuario">
    </div>

    <label class="col-sm-2 col-form-label">Usuario</label>
    <div class="col-sm-10">
       <select class="form-control" [(ngModel)]="UsuarioName">
           <option>--Select--</option>
           <option *ngFor="let depName of UsuariosList">
               {{depName.UsuarioName}}
           </option>
       </select>
    </div>
</div>

<button (click)="addEntidad()" *ngIf="dep.EntidadId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateEntidad()" *ngIf="dep.EntidadId!=0" class="btn btn-primary">
    Update
</button>